html{
    background-color: #0f4168;
}
.card1{
    position: absolute;
    transition: all 1s;

}

.card1:hover{
    transform: translateY(-30px);
    box-shadow:20px 20px 20px rgb(37, 37, 37);
    border-radius: 4px;  
}


.card2{
    position: absolute;
    transition: all 1s;
}

.card2:hover{
    transform: translateY(-30px);
    box-shadow:20px 20px 20px rgb(37, 37, 37);
    border-radius: 4px;  
}


.card3{
    position: absolute;
    transition: all 1s;
    background-color: #cb997e;
    
}

.card3:hover{
    transform: translateY(-30px);
    box-shadow:20px 20px 20px rgb(37, 37, 37);
    border-radius: 4px;  
}

.list-group{
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: rgb(20, 196, 228);
}
